.logo {
  display: block;
  max-width: 150px;
  @include media-breakpoint-up(lg) {
    max-width: 215px;
  }

  &--header {
    @include media-breakpoint-up(lg) {
      padding-left: 20px;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
